body {
    background-color:#6d4f43;
    font-family: 'Michroma', sans-serif;
    background-image: url("https://www.tcd.ie/identity/assets/images/virtual-backgrounds/trinity-virtual-background-10.jpg");
}
.chart {
    text-align: center;
    align-items: center;
}
.actualChart{
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color:rgb(234, 241, 241); 
}
canvas{
    margin: 0 auto;
    width: 80%;
    height: 90%;
}
.loading {
    font-family: 'Michroma', sans-serif;
    color:rgb(42, 238, 172);
    text-align: center;
}
.forms{
    text-align: center;
}
* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    font-family: "Roboto";
    color: #1e7681;
}
h1 {
    color: #78cce2;
}
